html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
            

}

body {
    
    font-family: "helvetica neue", helvetica, arial, sans-serif;

}

a {
    color: black;
    text-decoration: none;
}

.nav {
    grid-area: nav;
    justify-self: end;
    margin-top: -8px;
}

.logo img {
    height: 60px;
}

p {
    font-weight: 200;
    letter-spacing: .4px;
}


ul  {
    list-style-type: none;
    line-height: 170%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nav li span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
    
}


.nav li span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

.nav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

/* FFE794 523F6E */









.container {
    margin: 90px 100px 50px;
    display: grid;
    grid-gap: 0px 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
       "logo . . . . . . . . nav nav nav"
        "ban ban ban . case case case case . . . ."
        "ban ban ban . dlogo dlogo dlogo dlogo . . . ."
        ". csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav ."
        ". . . position position position position position position . . ."
        ". . . . resume resume resume resume . . . ."
        "chal chal chal chal chal chal sol sol sol sol sol sol"
        "chalp chalp chalp chalp chalp chalp solp solp solp solp solp solp"
        ". . . . prot prot prot prot . . . ."
        "home2 home2 home2 home2 coffee1 coffee1 coffee1 coffee1 ethi ethi ethi ethi" 
        ". . pro pro pro pro pro pro pro pro . ."
        ". . prop prop prop prop prop prop prop prop . ."
        ". peets peets peets cbtl cbtl cbtl cbtl mcnt mcnt mcnt ." 
        ". . . comp comp comp comp comp comp . . ."
        "surv surv surv surv pers pers pers pers pers pers pers pers" 
        ". . flowp flowp flowp flowp flowp flowp flowp flowp . ."
        ". flow flow flow flow flow flow flow flow flow flow ." 
        "flow3 flow3 flow3 flow3 flow3 flow3 flow2 flow2 flow2 flow2 flow2 flow2"
        ". . bran bran bran bran bran bran bran bran . ."
        ". . branp branp branp branp branp branp branp branp . ."
        ". . tsk1 tsk1 tsk1 tsk1 tsk2 tsk2 tsk2 tsk2 . ."
        ". . branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 . ."
        ". colors colors colors colors colors colors clogos clogos clogos clogos . "
        ". clogo clogo clogo clogo clogo clogo clogos clogos clogos clogos ."
        ". . . . stylec stylec stylec stylec . . . ."
        ". . . wirep wirep wirep wirep wirep wirep . . ."
        "wires wires wires wires wires wires wires wires wires wires wires wires"
        ". . . abtest abtest abtest abtest abtest abtest . . ."
        ". abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic ."
        ". . . mockp mockp mockp mockp mockp mockp . . ."
        ". utest utest utest utest utest utest utest utest utest utest ."
        ". . conc conc conc conc conc conc conc conc . ."
        ". . concp concp concp concp concp concp concp concp . ."
        ". . . . prot2 prot2 prot2 prot2 . . . ."
        ". . . . back back back back . . . ."
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
        
}




.case {
    grid-area: case;
    font-size: 24px;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: .4px;
    text-align: center;
    margin-top: 120px;
}

.dlogo {
    grid-area: dlogo;
    
}

.dlogo img {
    margin-top: 30px;
    width: 100%;
    margin-left: -20px;
}

.csnav {
    grid-area: csnav;
    justify-self: center;
    margin: 60px 0px 50px;
    
}

.csnav li {
    display: inline;
    margin: 40px 40px;
    
}

.csnav a {
    color: #405824;
    cursor: pointer;
}

.csnav ul {
    line-height: 250%;
    font-size: 18px;
}

.csnav li span, .back span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
    
}


.csnav li span:hover, .back span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #405824;
    
}

.csnav li span:active, .back a span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #405824;
    
}


.sticky {
    position: fixed;
    top: -60px;
    left: 0px;
    width: 100%;
    text-align: center;
    background: white;
    padding: 17px 0px 20px;
    opacity: .95;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}








.position {  
    font-size: 24px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    grid-area: position;
    margin: 0px 0px 0px 30px;
}

.ban {
    grid-area: ban;
}

.ban img {
    width: 100%;
    opacity: .4;
    transform: rotate(20deg);
}


.resume {
    grid-area: resume;
}

.resume, .prot, .prot2 {
    border: 2px solid #2C1352;
    border-radius: 8px;
    background-color: white;
    color: #2C1352;
    font-size: 16px;
    font-family: helvetica neue;    
    font-weight: bold;
    text-align: center;
    padding: 12px 10px 14px;
    margin: 60px 40px 0px;
    transition: .2s ease;
}

.resume:hover, .prot:hover, .prot2:hover {
  background: #2C1352;
  color: white;
}



    



    


.home img {
    margin-top: 30px;
    margin-bottom: -100px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
} 

.chal {
    grid-area: chal;
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 100px 0px 70px;
}

.chalp {  
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    margin-right: 20px;
    grid-area: chalp;

}


.sol {
    grid-area: sol;
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 100px 0px 70px;
}

.solp {  
    grid-area: solp;
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    margin-left: 20px;

}

.prot {
    grid-area: prot;

}




.coffee1 {
    grid-area: coffee1;
    
}


.home2 {
    grid-area: home2;
    
}

.home2 img, .coffee1 img, .ethi img, .surv img, .pers img {
    margin-top: 100px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

}

.flow img {
    margin: 100px 0px;
    width: 100%;
}

.home2 p, .coffee1 p, .ethi p, .surv p, .pers p,
.peets p, .cbtl p, .mcnt p, .stylec {
    margin-top: 20px;
    text-align: center;
    line-height: 140%;
    font-size: 18px;
}

.ethi {
    grid-area: ethi;
    
}




.peets {
    grid-area: peets;
    margin-top: 10px;
   
}

.cbtl {
    grid-area: cbtl;
    margin-top: 50px;
}


.mcnt {
    grid-area: mcnt;
}


.peets img, .cbtl img, .mcnt img, .flow2 img, .flow3 img, .tsk2 img,
.colors img, .clogo img, .clogos img, .wires img, .abpic img, .utest img {
     width: 100%;
}

.peets p, .cbtl p, .mcnt p {
    font-size: 20px;
    
}

.comp {
    grid-area: comp;
    margin: 90px 0px 10px;        ;
}


.surv {
    grid-area: surv;
    
}

.pers {
    grid-area: pers;
    
}


.flow {
    grid-area: flow;
    
}

.pro {
    grid-area: pro;
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 100px 0px 70px;
}

.prop {  
    grid-area: prop;
    margin-bottom: 100px;
    

}

.flowp {
    grid-area: flowp;
    margin: 180px 0px 80px;
    
}


.flow2 {
    grid-area: flow2;
    margin-bottom: 60px
}

.flow3 {
    grid-area: flow3;
     margin-bottom: 60px   
}


.prop, .flowp, .comp, .wirep, .abtest, .mockp, .branp, .concp  {
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;

}

.prop span, .flowp span, .comp span, .sol span, .wirep span,
.abtest span, .mockp span {
    font-weight: normal;
    letter-spacing: -.4px;
    color: #384B21;
}

.bran, .conc {
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 0px 0px 70px;
}

.bran {
    grid-area: bran;
}


.branp {  
    grid-area: branp;
   
}


.tsk1 img {
    width: 80%;
}

.tsk1 {
    grid-area: tsk1;
    margin: 60px 0px;
}

.tsk2 {
    grid-area: tsk2;
    margin-top: 60px;
} 

.branp2 {  
    grid-area: branp2;
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    
}

.colors {
    grid-area: colors;
    margin-top: 60px;
}

.clogo {
    grid-area: clogo;
    margin-right: 30px;
}

.clogos {
    grid-area: clogos;
    margin-top: 60px;
}

.clogos img {
    margin-top: -2px;
}

.stylec {
    grid-area: stylec;
    margin: 20px 0px 90px;
}

.wirep {
    grid-area: wirep;
}

.wires {
    grid-area: wires;
    margin: 80px 0px;
}

.abtest {
    grid-area: abtest;
}

.abpic {
    grid-area: abpic;
    margin: 100px 0px;
}

.mockp {
    grid-area: mockp;
}

.utest {
    grid-area: utest;
    margin: 100px 0px;
}

.conc {
    grid-area: conc;
}

.concp {
    grid-area: concp;
    margin-bottom: 20px;
}

.prot2 {
    grid-area: prot2;
    margin-bottom: 70px;
}

.back {
    grid-area: back;
    text-align: center;
    font-weight: bold;
    color: #405824;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 170px;
}













.footnav {
     grid-area: footnav;
     justify-self: start;
}

.footnav li span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
}

.footnav li span:hover {
    padding-bottom: 3px;    
    border-bottom: 3px solid #523F6E;

}

.footnav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

.contact {
    grid-area: contact;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -.5px;
}

.contact h3 {
    text-align: center;
    margin-bottom: 10px;
}
.contact li {
    font-weight: normal;
    display: inline;
    margin: 0px 12px;
}

.contact a {
    transition: all .15s ease;
}

.contact a:hover {

    
    color: #523F6E; 
   /*  text-shadow: 0px 1px 6px #5F4881; */
}

/*FFE794   FFF3C7     523F6E   3F2A5E  2C1352 */

.footlogo {
     grid-area: footlogo;
     justify-self: end;
     align-self: center;
}

.footlogo img {
    
    height: 50px;
}













/* ------------------ iPad and landscape phones ------------------------*/



@media (max-width: 1200px) {
    
     
    
    .container {
        margin: 50px 50px 30px;
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        "ban ban ban . case case case case . . . ."
        "ban ban ban dlogo dlogo dlogo dlogo dlogo dlogo . . ."
        "ban ban ban . . . . . . . . ."
        ". csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav ."
        ". . . position position position position position position . . ."
        ". . resume resume resume resume resume resume resume resume . ."
        ". chal chal chal chal . . sol sol sol sol ."
        "chalp chalp chalp chalp chalp chalp solp solp solp solp solp solp"
        ". . prot prot prot prot prot prot prot prot . ."
        "home2 home2 home2 home2 coffee1 coffee1 coffee1 coffee1 ethi ethi ethi ethi" 
        ". . pro pro pro pro pro pro pro pro . ."
        ". prop prop prop prop prop prop prop prop prop prop ."
        "peets peets peets cbtl cbtl cbtl cbtl cbtl mcnt mcnt mcnt mcnt" 
        ". . comp comp comp comp comp comp comp comp . ."
        "surv surv surv surv pers pers pers pers pers pers pers pers" 
        ". . flowp flowp flowp flowp flowp flowp flowp flowp . ."
        ". flow flow flow flow flow flow flow flow flow flow ." 
        "flow3 flow3 flow3 flow3 flow3 flow3 flow2 flow2 flow2 flow2 flow2 flow2"
        ". . bran bran bran bran bran bran bran bran . ."
        ". branp branp branp branp branp branp branp branp branp branp ."
        ". tsk1 tsk1 tsk1 tsk1 tsk1 tsk2 tsk2 tsk2 tsk2 tsk2 ."
        ". branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 ."
        ". colors colors colors colors colors colors clogos clogos clogos clogos . "
        ". clogo clogo clogo clogo clogo clogo clogos clogos clogos clogos ."
        ". . . . stylec stylec stylec stylec . . . ."
        ". . wirep wirep wirep wirep wirep wirep wirep wirep . ."
        "wires wires wires wires wires wires wires wires wires wires wires wires"
        ". . abtest abtest abtest abtest abtest abtest abtest abtest . ."
        "abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic"
        ". . mockp mockp mockp mockp mockp mockp mockp mockp . ."
        "utest utest utest utest utest utest utest utest utest utest utest utest"
        ". . conc conc conc conc conc conc conc conc . ."
        ". concp concp concp concp concp concp concp concp concp concp ."
        ". . prot2 prot2 prot2 prot2 prot2 prot2 prot2 prot2 . ."
        ". . . . back back back back . . . ."    
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
    
     }
    
    .sticky {
        
    }
    
  
    .logo img {
         height: 50px
         
     }
    
    
    
    .name {
         margin-top: 40px;
        
    }
    
    
    .csnav li {
  
        margin: 40px 25px;
    }

    .position {
         margin: 10px 0px 10px;
         font-size: 20px;
 
     }
    
    .resume {
        margin-top: 30px;
    }
    
    .chal, .sol {
         margin: 90px 0px 30px; 
        
    }
    
    .chalp {
        margin-right: 10px;
    }
    
    .solp {
        margin-left: 10px;
    }
    
    .pro, .conc, .bran {
        margin: 40px 0px 40px;
        line-height: 120%;
    }
    
    .cbtl {
        margin-top: 35px;
    }
    
    .comp {
         margin: 70px 0px 0px;
    }
    
    .pers img, .surv img {
         margin-top: 80px;
    }
       

     .chalp, .solp, .prop, .flowp, .comp, .wirep, 
     .abtest, .mockp, .branp, .concp, .branp2  {
        font-size: 18px;

    }
    
    .flowp {
        margin: 80px 0px;
    }
    
    .flow3, .flow2, .flow, .flow img {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
     .home2 p, .coffee1 p, .ethi p, .surv p, .pers p,
     .peets p, .cbtl p, .mcnt p, .stylec {
       line-height: 150%;
       font-size: 14px;
    }
    
    
    .wires {
        margin: 40px -30px;
            
    }
    
    .abpic {
        margin: 50px 0px 40px
    } 
    
    .utest {
        margin: 60px 0px 20px;
    }
    
    .prot2 {
        margin-bottom: 100px;
    }
     .footlogo img {
        height: 40px;
     }

}


/* ------------------ Landscape smaller phones ------------------------*/


@media (max-width: 670px) {
    
    .container {
        grid-gap: 0px 20px;
        grid-template-areas: 
       "logo . . . . . . . . nav nav nav"
        "ban ban ban . case case case case . . . ."
        "ban ban ban dlogo dlogo dlogo dlogo dlogo dlogo . . ."
        "ban ban ban . . . . . . . . ."
        "csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav"
        ". . position position position position position position position position . ."
        ". . resume resume resume resume resume resume resume resume . ."
        "chal chal chal chal chal chal sol sol sol sol sol sol"
        "chalp chalp chalp chalp chalp chalp solp solp solp solp solp solp"
        ". . prot prot prot prot prot prot prot prot . ."
        "home2 home2 home2 home2 coffee1 coffee1 coffee1 coffee1 ethi ethi ethi ethi" 
        ". . pro pro pro pro pro pro pro pro . ."
        ". prop prop prop prop prop prop prop prop prop prop ."
        "peets peets peets cbtl cbtl cbtl cbtl cbtl mcnt mcnt mcnt mcnt" 
        ". . comp comp comp comp comp comp comp comp . ."
        "surv surv surv surv pers pers pers pers pers pers pers pers" 
        ". . flowp flowp flowp flowp flowp flowp flowp flowp . ."
        ". flow flow flow flow flow flow flow flow flow flow ." 
        "flow3 flow3 flow3 flow3 flow3 flow3 flow2 flow2 flow2 flow2 flow2 flow2"
        ". . bran bran bran bran bran bran bran bran . ."
        ". branp branp branp branp branp branp branp branp branp branp ."
        ". tsk1 tsk1 tsk1 tsk1 tsk1 tsk2 tsk2 tsk2 tsk2 tsk2 ."
        ". branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 ."
        ". colors colors colors colors colors colors clogos clogos clogos clogos . "
        ". clogo clogo clogo clogo clogo clogo clogos clogos clogos clogos ."
        ". . . . stylec stylec stylec stylec . . . ."
        ". . wirep wirep wirep wirep wirep wirep wirep wirep . ."
        "wires wires wires wires wires wires wires wires wires wires wires wires"
        ". . abtest abtest abtest abtest abtest abtest abtest abtest . ."
        "abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic"
        ". . mockp mockp mockp mockp mockp mockp mockp mockp . ."
        "utest utest utest utest utest utest utest utest utest utest utest utest"
        ". . conc conc conc conc conc conc conc conc . ."
        ". concp concp concp concp concp concp concp concp concp concp ."
        ". . prot2 prot2 prot2 prot2 prot2 prot2 prot2 prot2 . ."
        ". . back back back back back back back back . ."     
        "footnav footnav footnav contact contact contact contact contact contact contact . footlogo"
    
     }
    
    .csnav li {
        margin: 40px 25px;
    }
    

}



/* ------------------ Bigger phones ------------------------*/


@media (max-width: 414px) {
    
    
    
     .container {
        margin: 35px 35px 75px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo nav nav nav nav nav"
        "ban ban ban . . ."    
        "case case case case case case"
        "dlogo dlogo dlogo dlogo dlogo dlogo"
        "csnav csnav csnav csnav csnav csnav"
        "position position position position position position"
        "resume resume resume resume resume resume"
        "chal chal chal chal chal chal"
        "chalp chalp chalp chalp chalp chalp"    
        "sol sol sol sol sol sol"
        "solp solp solp solp solp solp"
        "prot prot prot prot prot prot"
        "home2 home2 home2 home2 home2 home2" 
        "coffee1 coffee1 coffee1 coffee1 coffee1 coffee1" 
        "ethi ethi ethi ethi ethi ethi" 
        "pro pro pro pro pro pro"
        "prop prop prop prop prop prop"
        "peets peets peets peets peets peets" 
        "cbtl cbtl cbtl cbtl cbtl cbtl" 
        "mcnt mcnt mcnt mcnt mcnt mcnt" 
        "comp comp comp comp comp comp"
        "surv surv surv surv surv surv"
        "pers pers pers pers pers pers" 
        "flowp flowp flowp flowp flowp flowp"
        "flow flow flow flow flow flow" 
        "flow2 flow2 flow2 flow2 flow2 flow2"     
        "flow3 flow3 flow3 flow3 flow3 flow3"
        "bran bran bran bran bran bran"
        "branp branp branp branp branp branp"
        "tsk1 tsk1 tsk1 tsk2 tsk2 tsk2"
        "branp2 branp2 branp2 branp2 branp2 branp2"
        "colors colors colors colors colors colors" 
        "clogos clogos clogos clogos clogos clogos"
        "clogo clogo clogo clogo clogo clogo"
        "stylec stylec stylec stylec stylec stylec"
        "wirep wirep wirep wirep wirep wirep"
        "wires wires wires wires wires wires"
        "abtest abtest abtest abtest abtest abtest"
        "abpic abpic abpic abpic abpic abpic"
        "mockp mockp mockp mockp mockp mockp"
        "utest utest utest utest utest utest"
        "conc conc conc conc conc conc"
        "concp concp concp concp concp concp"
        "prot2 prot2 prot2 prot2 prot2 prot2"  
        "back back back back back back" 
        "contact contact contact contact contact contact"
        ". . footlogo footlogo . ."
    
     }
    
    .ban {
        margin: 0px -20px -110px 0px;
    }
    
    .csnav ul {
        margin-left: 30px;
    }
    
    .sticky {
        text-align: left;
        
    }  
    
    .sticky li {
        margin-left: 0px;
        margin-right: 70px;
        margin-bottom: 0px;
        margin-top: 0px;
        
    }
    
    .sticky ul {
        line-height: 200%;
        margin-left: 80px;
    }
    
   

    .sticky {
        padding: 8px 0px 10px;
      
    }
    
    
    
   .home img {
   
        margin: -10px 0px 0px;
    }
    
    .position {
    margin: 0px 0px 0px 15px;
}
    
    .chal {
        margin: 20px 0px 30px; 
    }
    
    .sol, .pro, .conc, .bran {
        margin: 40px 0px 30px;
        line-height: 120%;
    }
    
    
   .chalp, .solp, .prop, .flowp, .comp, .wirep, .abtest, .mockp, .branp, .concp, .branp2  {
        font-size: 18px;
        margin: 0;

    }
    
   .resume, .prot, .prot2 {
        margin: 40px 10px 0px;
        line-height: 140%;
        padding: 8px 10px 10px;
    }
    
   .home2 p, .coffee1 p, .ethi p, .surv p, .pers p,
   .peets p, .cbtl p, .mcnt p, .stylec {
       line-height: 130%;
       font-size: 14px;
    }
    
    .home2 img, .coffee1 img, .ethi img, .surv img, .pers img {
       margin-top: 50px;
        
    }
    
    .peets, .cbtl, .mcnt, .wires {
        margin: 20px 0px;
    }
    
    .abpic {
        margin: 30px 0px 25px
    }
    
    .peets {
        margin-top: 40px;
    }
    
    .mcnt {
        margin-bottom: 50px;
    }
    
    .pers p {
        margin-bottom: 40px;
    }
    
    .flow3, .flow2, .flow, .flow img {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    .tsk1 {
        margin: 30px 0px;
    }
    
    .tsk1 img {
        width: 100%;
    }
    
    .clogo {
        margin-right: 15px;
        margin-top: 10px;
    }
    
    .clogos, .colors {
        margin-top: 20px;
    }
    
    .stylec {
        margin-bottom: 40px;
    }
    
    .utest {
        margin: 50px 0px 0px;
    }
    
    .prot2 {
        margin-bottom: 50px;
        
    }
    
    .back {
        margin-bottom: 50px;
    
    }
    
    
    .footnav {
        display: none;
    }
    
    
    .footlogo {
        margin-top: 70px;
        justify-self: center;
    }

}


/* ------------------ Galaxy S5 & iPhone 6, etc ------------------------*/


@media (max-width: 375px) {
    .csnav ul {
        margin-left: 15px;
    }
    
    .sticky ul {
        margin-left: 60px;
    }
}


/* ------------------ iPhone 5 / SE ------------------------*/


@media (max-width: 320px) {
    
     .container {
        margin: 25px 25px 75px;
     }  
    
     .csnav ul {
        margin-left: 0px;
    }
    
    .csnav li {
       margin: 30px 25px;
     }
    
    .sticky ul {
        margin-left: 20px;
       
    }
    
    .dlogo img {
        margin-left: -10px;
    }
    
    .contact li {
       margin: 0px 8px;
   }
    
}