html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
            

}

body {
    
    font-family: "helvetica neue", helvetica, arial, sans-serif;

}

a {
    color: black;
    text-decoration: none;
}

.nav {
    grid-area: nav;
    justify-self: end;
    margin-top: -8px;
}

.logo img {
    height: 60px;
}

p {
    font-weight: 200;
    letter-spacing: .4px;
}


ul  {
    list-style-type: none;
    line-height: 170%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nav li span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
    
}


.nav li span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

.nav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

/* FFE794 523F6E */









.container {
    margin: 90px 100px 50px;
    display: grid;
    grid-gap: 0px 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
       "logo . . . . . . . . nav nav nav"
        "ban ban ban . case case case case . . . ."
        "ban ban ban . dlogo dlogo dlogo dlogo . . . ."
        ". . csnav csnav csnav csnav csnav csnav csnav csnav . ."
        ". . . position position position position position position . . ."
        ". . . . resume resume resume resume . . . ."
        ". chal chal chal chal . . sol sol sol sol ."
        "chalp chalp chalp chalp chalp chalp solp solp solp solp solp solp"
        ". . . . prot prot prot prot . . . ."
        "home2 home2 home2 home2 home2 home2 ethi ethi ethi ethi ethi ethi" 
        "coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1"
        ". . pro pro pro pro pro pro pro pro . ."
        ". . prop prop prop prop prop prop prop prop . ."
        "peets peets peets peets cbtl cbtl cbtl cbtl mcnt mcnt mcnt mcnt" 
        ". . . comp comp comp comp comp comp . . ."
        "surv surv surv pers pers pers pers pers pers pers pers pers" 
        ". . . flowp flowp flowp flowp flowp flowp . . ."
        "flow flow flow flow flow flow flow flow flow flow flow flow" 
        "flow2 flow2 flow2 flow2 flow2 flow2 flow2 flow2 flow2 flow2 flow2 flow2" 
        ". . bran bran bran bran bran bran bran bran . ."
        ". . branp branp branp branp branp branp branp branp . ."
        ". . . tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 . . ."
        ". . branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 . ."
        ". colors colors colors colors colors colors colors colors colors colors . "
        ". clogo clogo clogo clogo clogo clogo clogo clogo clogo clogo ."
        ". . . . stylec stylec stylec stylec . . . ."
        ". . . wirep wirep wirep wirep wirep wirep . . ."
        "wires wires wires wires wires wires wires wires wires wires wires wires"
        "wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2"
        "wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3"
        ". . . abtest abtest abtest abtest abtest abtest . . ."
        "abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic"
        ". . . mockp mockp mockp mockp mockp mockp . . ."
        ". utest utest utest utest utest utest utest utest utest utest ."
        ". . conc conc conc conc conc conc conc conc . ."
        ". . concp concp concp concp concp concp concp concp . ."
        ". . . . prot2 prot2 prot2 prot2 . . . ."
        ". . . . back back back back . . . ."
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
        
}


.case {
    grid-area: case;
    font-size: 24px;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: .4px;
    text-align: center;
    margin-top: 120px;
}

.dlogo {
    grid-area: dlogo;
    
}

.dlogo img {
    margin-top: 30px;
    width: 100%;
   
}

.csnav {
    grid-area: csnav;
    justify-self: center;
    margin: 60px 0px 50px;
    
}

.csnav li {
    display: inline;
    margin: 40px 40px;
    
}

.csnav a {
    color: #001B4C;
    cursor: pointer;
}

.csnav ul {
    line-height: 250%;
    font-size: 18px;
    
}

.csnav li span, .back span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
    
}


.csnav li span:hover, .back span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #001B4C;
    
}

.csnav li span:active, .back span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #001B4C;
    
}


.sticky {
    position: fixed;
    top: -60px;
    left: 0px;
    width: 100vw;
    text-align: center;
    background: white;
    padding: 4px 0px 7px;
    opacity: .95;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.position {  
    font-size: 24px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    grid-area: position;
    margin: 0px 0px 0px 30px;
    
}

.ban {
    grid-area: ban;
}

.ban img {
    width: 180%;
    opacity: .1;
    margin-left: -80px;
    margin-top: -20px;
    
}


.resume {
    grid-area: resume;
}

.resume, .prot, .prot2 {
    border: 2px solid #001B4C;
    border-radius: 8px;
    background-color: white;
    color: #001B4C;
    font-size: 16px;
    font-family: helvetica neue;    
    font-weight: bold;
    text-align: center;
    padding: 12px 10px 14px;
    margin: 60px 40px 0px;
    transition: .2s ease;
}

.resume:hover, .prot:hover, .prot2:hover {
  background: #001B4C;
  color: white;
}



    



    


.home img {
    margin-top: 30px;
    margin-bottom: -100px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
} 

.chal {
    grid-area: chal;
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 100px 0px 60px;
}

.chalp {  
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    margin-right: 20px;
    grid-area: chalp;

}


.sol {
    grid-area: sol;
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 100px 0px 60px;
}

.solp {  
    grid-area: solp;
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    margin-left: 20px;

}

.prot {
    grid-area: prot;

}




.coffee1 {
    grid-area: coffee1;
   
    
}


.home2 {
    grid-area: home2;
    
}

.home2 img, .ethi img, .surv img, .pers img, .coffee1 img {
    margin-top: 100px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

}

.coffee1 p {
    padding: 0 20%;
}

.flow img {
    margin: 70px 0px 50px;
    width: 100%;
}

.home2 p, .coffee1 p, .ethi p, .surv p, .pers p,
.peets p, .cbtl p, .mcnt p, .stylec, .wires p, .wires2 p, 
.wires3 p, .abpic p, .flow2 p {
    margin-top: 20px;
    text-align: center;
    line-height: 140%;
    font-size: 18px;
}


.pers p {
    padding: 0 15%;
}

.ethi {
    grid-area: ethi;
    
}




.peets {
    grid-area: peets;
   
}

.cbtl {
    grid-area: cbtl;
    
}


.mcnt {
    grid-area: mcnt;
}

.flow2 img, .flow3 img, .tsk2 img,
.colors img, .clogo img, .clogos img, .wires img, 
.abpic img, .utest img {
     width: 100%;
}



.peets img {
    width: 50%;
    margin: 0 25% 10px;
}

.cbtl img {
    width: 34%;
    margin: 0 33% 10px;
}

.mcnt img {
    width: 50%;
    margin: 0 25% 10px;
}




.comp {
    grid-area: comp;
    margin: 90px 0px 10px;        ;
}


.surv {
    grid-area: surv;
    
}

.pers {
    grid-area: pers;
    
}


.flow {
    grid-area: flow;
    
}

.pro {
    grid-area: pro;
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 100px 0px 60px;
}

.prop {  
    grid-area: prop;
    margin-bottom: 100px;
    

}

.flowp {
    grid-area: flowp;
    margin: 140px 0px 80px;
    
}


.flow2 {
    grid-area: flow2;
    margin-bottom: 10%;
}

.flow3 {
    grid-area: flow3;
     margin-bottom: 60px   
}


.prop, .flowp, .comp, .wirep, .abtest, .mockp, .branp, .concp  {
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;

}

.prop span, .flowp span, .comp span, .sol span, .wirep span,
.abtest span, .mockp span {
    font-weight: normal;
    letter-spacing: -.4px;
    color: #001b4c;
}

.bran, .conc {
    font-size: 32px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    text-align: center;
    margin: 30px 0px 60px
}

.bran {
    grid-area: bran;
}


.branp {  
    grid-area: branp;
   
}


.tsk1 img {
    width: 80%;
    margin: 0 10%;
}

.tsk1 {
    grid-area: tsk1;
    margin: 60px 0px;
}

.tsk2 {
    grid-area: tsk2;
    margin-top: 60px;
} 

.branp2 {  
    grid-area: branp2;
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    
}

.colors {
    grid-area: colors;
    margin: 80px 7% 50px;
}

.clogo {
    grid-area: clogo;
    margin-left: 2%;
}


.clogos img {
    margin-top: -2px;
}

.stylec {
    grid-area: stylec;
    margin: -30px 0px 90px;
}

.wirep {
    grid-area: wirep;
}

.wires {
    grid-area: wires;
    margin: 110px 0px 70px;
}

.wires img {
    margin: 0 1%;
}

.wires img:nth-child(1) {
    width: 35%;
} 
.wires img:nth-child(2) {
    width: 35%;
}
.wires img:nth-child(3) {
    width: 23%;
}

.wires p, .wires2 p, .wires3 p, .abpic p {
    margin-top: 35px;
    padding: 0px 20%;
}

.wires2 {
   grid-area: wires2;
    margin-bottom: 100px;
}

.wires2 img {
   margin: 0 1%;
}

.wires2 img:nth-child(1) {
    width: 23%;
} 
.wires2 img:nth-child(2) {
    width: 35%;
}
.wires2 img:nth-child(3) {
    width: 35%;
}


.wires3 {
   grid-area: wires3;
    margin-bottom: 100px;
}

.wires3 img {
   margin: 2%;
    width: 45%;
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}






.abtest {
    grid-area: abtest;
}

.abpic {
    grid-area: abpic;
    margin: 100px 0px;
}

.abpic img {
    width: 47%;
    margin: 1%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

}

 .abpic img:nth-child(4) {
        width: 100%; 
        margin: 5% 0% 0%;
    }
    

.mockp {
    grid-area: mockp;
}

.utest {
    grid-area: utest;
    margin: 100px 0px;
}

.conc {
    grid-area: conc;
}

.concp {
    grid-area: concp;
    margin-bottom: 20px;
}

.prot2 {
    grid-area: prot2;
    margin-bottom: 70px;
}

.back {
    grid-area: back;
    text-align: center;
    font-weight: bold;
    color: #001b4c;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 170px;
}












.footnav {
     grid-area: footnav;
     justify-self: start;
}

.footnav li span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
}

.footnav li span:hover {
    padding-bottom: 3px;    
    border-bottom: 3px solid #523F6E;

}

.footnav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

.contact {
    grid-area: contact;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -.5px;
}

.contact h3 {
    text-align: center;
    margin-bottom: 10px;
}
.contact li {
    font-weight: normal;
    display: inline;
    margin: 0px 12px;
}

.contact a {
    transition: all .15s ease;
}

.contact a:hover {

    
    color: #523F6E; 
   /*  text-shadow: 0px 1px 6px #5F4881; */
}

/*FFE794   FFF3C7     523F6E   3F2A5E  2C1352 */

.footlogo {
     grid-area: footlogo;
     justify-self: end;
     align-self: center;
}

.footlogo img {
    
    height: 50px;
}













/* ------------------ iPad and landscape phones ------------------------*/



@media (max-width: 825px) {
    
     
    
    .container {
        margin: 50px 50px 30px;
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        "ban ban ban . case case case case . . . ."
        "ban ban ban dlogo dlogo dlogo dlogo dlogo dlogo . . ."
        "ban ban ban . . . . . . . . ."
        "csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav"
        ". . position position position position position position position position . ."
        ". . resume resume resume resume resume resume resume resume . ."
        "chal chal chal chal chal chal sol sol sol sol sol sol"
        "chalp chalp chalp chalp chalp chalp solp solp solp solp solp solp"
        ". . prot prot prot prot prot prot prot prot . ."
         "home2 home2 home2 home2 home2 home2 ethi ethi ethi ethi ethi ethi" 
        "coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1"
        ". . pro pro pro pro pro pro pro pro . ."
        ". prop prop prop prop prop prop prop prop prop prop ."
        "peets peets peets cbtl cbtl cbtl cbtl cbtl mcnt mcnt mcnt mcnt" 
        ". . comp comp comp comp comp comp comp comp . ."
        "surv surv surv surv pers pers pers pers pers pers pers pers" 
        ". . flowp flowp flowp flowp flowp flowp flowp flowp . ."
        ". flow flow flow flow flow flow flow flow flow flow ." 
        "flow3 flow3 flow3 flow3 flow3 flow3 flow2 flow2 flow2 flow2 flow2 flow2"
        ". . bran bran bran bran bran bran bran bran . ."
        ". branp branp branp branp branp branp branp branp branp branp ."
        ". . tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 . ."
        ". branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 ."
        ". colors colors colors colors colors colors colors colors colors colors . "
        ". clogo clogo clogo clogo clogo clogo clogo clogo clogo clogo ."
        ". . . . stylec stylec stylec stylec . . . ."
        ". . wirep wirep wirep wirep wirep wirep wirep wirep . ."
        "wires wires wires wires wires wires wires wires wires wires wires wires"
        "wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2"
        "wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3"  
        ". . abtest abtest abtest abtest abtest abtest abtest abtest . ."
        "abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic"
        ". . mockp mockp mockp mockp mockp mockp mockp mockp . ."
        "utest utest utest utest utest utest utest utest utest utest utest utest"
        ". . conc conc conc conc conc conc conc conc . ."
        ". concp concp concp concp concp concp concp concp concp concp ."
        ". . prot2 prot2 prot2 prot2 prot2 prot2 prot2 prot2 . ."
         ". . . . back back back back . . . ."  
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
    
     }
    
  
    .logo img {
         height: 50px
         
     }
    
    
    
    .name {
         margin-top: 40px;
        
    }
    
    
    .csnav li {
  
        margin: 40px 30px;
    }

    .sticky {
        padding: 10px 0px 12px;
    }
    
    .position {
         margin: 10px 0px 10px;
         font-size: 20px;
 
     }
    
    .resume {
        margin-top: 30px;
    }
    
    .chal, .sol {
         margin: 90px 0px 30px; 
        
    }
    
    .chalp {
        margin-right: 10px;
    }
    
    .solp {
        margin-left: 10px;
    }
    
    .pro, .conc, .bran {
        margin: 40px 0px 40px;
        line-height: 120%;
    }
    
    .cbtl {
        margin-top: 35px;
    }
    
    .comp {
         margin: 70px 0px 0px;
    }
    
    .pers img, .surv img {
         margin-top: 80px;
    }
    
    .stylec {
        margin-top: 10px;
    }
       

     .chalp, .solp, .prop, .flowp, .comp, .wirep, 
     .abtest, .mockp, .branp, .concp, .branp2  {
        font-size: 18px;

    }
    
    .flowp {
        margin: 80px 0px;
    }
    
    .flow3, .flow2, .flow, .flow img {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
     .home2 p, .coffee1 p, .ethi p, .surv p, .pers p,
     .peets p, .cbtl p, .mcnt p, .stylec, .wires p, .wires2 p, .wires3 p, .abpic p {
       line-height: 130%;
       font-size: 14px;
    }
    
    
    .wires {
        margin: 40px -30px;
            
    }
    
    .abpic {
        margin: 50px 0px 40px
    } 
    
    .utest {
        margin: 60px 0px 20px;
    }
    
    .prot2 {
        margin-bottom: 100px;
    }
     .footlogo img {
        height: 40px;
     }

}


/* ------------------ Landscape smaller phones ------------------------*/


@media (max-width: 670px) {
    
    .container {
        grid-gap: 0px 20px;
        grid-template-areas: 
       "logo . . . . . . . . nav nav nav"
        "ban ban ban . case case case case . . . ."
        "ban ban ban dlogo dlogo dlogo dlogo dlogo dlogo . . ."
        "ban ban ban . . . . . . . . ."
        "csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav csnav"
        ". position position position position position position position position position position ."
        ". resume resume resume resume resume resume resume resume resume resume ."
        "chal chal chal chal chal chal sol sol sol sol sol sol"
        "chalp chalp chalp chalp chalp chalp solp solp solp solp solp solp"
        ". prot prot prot prot prot prot prot prot prot prot ."
        "home2 home2 home2 home2 home2 home2 ethi ethi ethi ethi ethi ethi" 
        "coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1 coffee1"      
        ". . pro pro pro pro pro pro pro pro . ."
        ". prop prop prop prop prop prop prop prop prop prop ."
        "peets peets peets cbtl cbtl cbtl cbtl cbtl mcnt mcnt mcnt mcnt" 
        ". . comp comp comp comp comp comp comp comp . ."
        "surv surv surv surv pers pers pers pers pers pers pers pers" 
        ". . flowp flowp flowp flowp flowp flowp flowp flowp . ."
        ". flow flow flow flow flow flow flow flow flow flow ." 
        "flow3 flow3 flow3 flow3 flow3 flow3 flow2 flow2 flow2 flow2 flow2 flow2"
        ". . bran bran bran bran bran bran bran bran . ."
        ". branp branp branp branp branp branp branp branp branp branp ."
        ". tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 tsk1 ."
        ". branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 branp2 ."
        ". colors colors colors colors colors colors colors colors colors colors . "
        ". clogo clogo clogo clogo clogo clogo clogo clogo clogo clogo ."
        ". . . . stylec stylec stylec stylec . . . ."
        ". . wirep wirep wirep wirep wirep wirep wirep wirep . ."
        "wires wires wires wires wires wires wires wires wires wires wires wires"
        "wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2 wires2"
        "wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3 wires3"    
        ". . abtest abtest abtest abtest abtest abtest abtest abtest . ."
        "abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic abpic"
        ". . mockp mockp mockp mockp mockp mockp mockp mockp . ."
        "utest utest utest utest utest utest utest utest utest utest utest utest"
        ". . conc conc conc conc conc conc conc conc . ."
        ". concp concp concp concp concp concp concp concp concp concp ."
        ". . prot2 prot2 prot2 prot2 prot2 prot2 prot2 prot2 . ."
        ". . . . back back back back . . . ."  
        "footnav footnav footnav contact contact contact contact contact contact contact . footlogo"
    
     }
    .ban img {
        margin-left: -30px;
    }
    
    .csnav {
        margin: 40px 0px 30px;
    }
    .csnav li {
    margin: 40px 17px;
}
    
    .sticky {
        padding: 3px 0px 6px;
        top: -40px;
    
    }
    
    .sticky ul {
        font-size: 16px;
    }
    
}



/* ------------------ Bigger phones ------------------------*/


@media (max-width: 414px) {
    
    
    
     .container {
        margin: 35px 35px 75px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo nav nav nav nav nav"
        "ban ban ban . . ."    
        "case case case case case case"
        "dlogo dlogo dlogo dlogo dlogo dlogo"
        "csnav csnav csnav csnav csnav csnav"
        "position position position position position position"
        "resume resume resume resume resume resume"
        "chal chal chal chal chal chal"
        "chalp chalp chalp chalp chalp chalp"    
        "sol sol sol sol sol sol"
        "solp solp solp solp solp solp"
        "prot prot prot prot prot prot"
        "home2 home2 home2 home2 home2 home2" 
        "coffee1 coffee1 coffee1 coffee1 coffee1 coffee1" 
        "ethi ethi ethi ethi ethi ethi" 
        "pro pro pro pro pro pro"
        "prop prop prop prop prop prop"
        "peets peets peets peets peets peets" 
        "cbtl cbtl cbtl cbtl cbtl cbtl" 
        "mcnt mcnt mcnt mcnt mcnt mcnt" 
        "comp comp comp comp comp comp"
        "surv surv surv surv surv surv"
        "pers pers pers pers pers pers" 
        "flowp flowp flowp flowp flowp flowp"
        "flow flow flow flow flow flow" 
        "flow2 flow2 flow2 flow2 flow2 flow2"     
        "flow3 flow3 flow3 flow3 flow3 flow3"
        "bran bran bran bran bran bran"
        "branp branp branp branp branp branp"
        "tsk1 tsk1 tsk1 tsk1 tsk1 tsk1"
        "branp2 branp2 branp2 branp2 branp2 branp2"
        "colors colors colors colors colors colors" 
        "clogos clogos clogos clogos clogos clogos"
        "clogo clogo clogo clogo clogo clogo"
        "stylec stylec stylec stylec stylec stylec"
        "wirep wirep wirep wirep wirep wirep"
        "wires wires wires wires wires wires"
        "wires2 wires2 wires2 wires2 wires2 wires2"
        "wires3 wires3 wires3 wires3 wires3 wires3"    
        "abtest abtest abtest abtest abtest abtest"
        "abpic abpic abpic abpic abpic abpic"
        "mockp mockp mockp mockp mockp mockp"
        "utest utest utest utest utest utest"
        "conc conc conc conc conc conc"
        "concp concp concp concp concp concp"
        "prot2 prot2 prot2 prot2 prot2 prot2" 
        "back back back back back back"
        "contact contact contact contact contact contact"
        ". . footlogo footlogo . ."
    
     }
    
    .ban {
        margin: 0px -20px -110px 0px;
    }
    
    .ban img {
        width: 130%;
        opacity: .1;
        margin-left: -20px;
        margin-top: 0px;
}
      
    .dlogo img {
        margin-top: 20px;   
    }
    
    .csnav {
        margin: 40px 0px 20px;
    }
    
    .csnav ul {
        margin-left: 30px;
    }
    
    .csnav li {
        margin: 40px 30px;
    }
    
    .sticky {
        text-align: left;
        top: -40px;
        
    }  
    
   
    
    .sticky li {
        margin-left: 0px;
        margin-right: 70px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 16px;
        
    }
    
    .sticky ul {
        line-height: 200%;
        margin-left: 95px;
    }
    
   .home img {
   
        margin: -10px 0px 0px;
    }
    
    .position {
         margin: 10px 0px 0px;
    }
    
    .chal {
        margin: 20px 0px 30px; 
    }
    
    .sol, .pro, .conc, .bran {
        margin: 40px 0px 30px;
        line-height: 120%;
    }
    
    
   .chalp, .solp, .prop, .flowp, .comp, .wirep, .abtest, .mockp, .branp, .concp, .branp2  {
        font-size: 18px;
        margin: 0;

    }
    
   .resume, .prot, .prot2 {
        margin: 40px 10px 0px;
        line-height: 140%;
        padding: 8px 10px 10px;
    }
    
   .home2 p, .coffee1 p, .ethi p, .surv p, .pers p,
   .peets p, .cbtl p, .mcnt p, .stylec, .flow2 p {
       line-height: 130%;
       font-size: 14px;
    }
    
  .coffee1 p {
       padding: 0;
}
    
    .flow2 p {
        margin-top: 0;
    }
    
    .home2 img, .coffee1 img, .ethi img, .surv img, .pers img {
       margin-top: 50px;
        
    }
    
    .peets, .cbtl, .mcnt, .wires {
        margin: 30px 0px;
    }
    
    .abpic {
        margin: 40px 0px;
    }
    
    .peets p, .cbtl p, .mcnt p {
        margin-top: 10px;
    }
   
    
    
    .pers p {
        margin-bottom: 40px;
    }
    
    .flow3, .flow2, .flow, .flow img {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    .flow2 img {
        display: none;
    }
    
    .tsk1 {
        margin: 30px 0px;
    }
    
    .tsk1 img {
        width: 100%;
        margin: 0;
    }
    
    
    .clogos, .colors {
        margin: 15% 0;   
    }
    
    .stylec {
        margin-bottom: 40px;
    }
    
    .wires {
        margin-top: 40px;
    }
    
    .wires2, .wires3 {
        margin-bottom: 50px;
    }
    
    .wires img, .wires2 img, .wires3 img {
        margin: 5% 0;
        width: 100%;
        
    }
    
    .wires img:nth-child(1) {
    width: 100%;
} 
.wires img:nth-child(2) {
    width: 100%;
}
.wires img:nth-child(3) {
    width: 100%;
}
    
    .wires2 img:nth-child(1) {
    width: 100%;
} 
.wires2 img:nth-child(2) {
    width: 100%;
}
.wires2 img:nth-child(3) {
    width: 100%;
}
    
    
    .wires p, .wires2 p, .wires3 p, .abpic p {
        padding: 0;
        margin-top: 0;
    }
    
    .abpic img {
    width: 100%; 
    margin: 5% 0
    }
    
    .abpic img:nth-child(4) {
        width: 100%;
        margin: 10% 0% 5%;
    }
    
    .utest {
        margin: 50px 0px 0px;
    }
    
    .prot2 {
        margin-bottom: 50px;
        
    }
    
    .back {
        margin-bottom: 50px;
    
    }
    

    
    .footnav {
        display: none;
    }
    
    
    .footlogo {
        margin-top: 70px;
        justify-self: center;
    }

}


/* ------------------ Galaxy S5 & iPhone 6, etc ------------------------*/

@media (max-width: 375px) {
.csnav ul {
        margin-left: 10px;
    }
   
    .sticky ul {
        margin-left: 77px;
    }


}

/* ------------------ iPhone 5 / SE ------------------------*/


@media (max-width: 320px) {
    
     .container {
        margin: 25px 25px 75px;
     }  
    
      .csnav ul {
        margin-left: 0px;
    }
    
    .csnav li {
       margin: 30px 25px;
     }
    
    

    .contact li {
       margin: 0px 8px;
   }
    
    .sticky ul {
        margin-left: 35px;
       
    }
    
}