html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 90px 100px 50px;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.nav {
    grid-area: nav;
    justify-self: end;
    margin-top: -8px;   
}


.logo img {
    height: 60px;

}



.logo img:hover  {
 
    
}


ul  {
    
    list-style-type: none;
    line-height: 170%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nav li span {
    
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
    
}


.nav li span:hover {
    
    border-bottom: 3px solid #523F6E;
    
}

.nav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}
/* FFE794 523F6E */











.container {
    display: grid;
    grid-gap: 0px 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        ". . name name name name name . . . . ."
        ". . subname subname subname subname subname subname subname . . ."
        ". . position position position position position position . . . ."
        "chi chi chi chi chi chi chi chi chi chi chi chi"
        "drag drag drag drag bud bud bud bud orion orion orion orion"
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
        
}


p {
    margin: 0;
}

.name {
    font-weight: normal;
    margin: 120px 0px 7px;
    font-size: 48px;
    letter-spacing: -2px;
    grid-area: name;
}

.subname {
    margin: 10px 0px;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: .4px;
    grid-area: subname;

}

.position {  
    font-size: 24px;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: .4px;
    grid-area: position;
    margin: 20px 0px 120px;
}

.see span {
    font-weight: normal;
    cursor: pointer;
    letter-spacing: -.4px;
    padding-bottom: 1px;
    border-bottom: 2px solid black;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
}



.background {
    grid-area: chi;
}

.background img {
    width: 100%;
    
}

.proj {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px 0px 60px;       
}

.drag {
    grid-area: drag;
    background-color: #384B21;
}

.drag img {
    height: 80px;
    margin: 40%;
    padding-right: 3%;
}

.dragoverlay {
   
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: helvetica neue;
    background-color: #384B21;
    opacity: 0;
    transition: .6s ease;
}



.drag:hover .dragoverlay {
    opacity: .9;
   
}

.drag:hover img {
    filter: blur(3px);
    
}


.budoverlay {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: helvetica neue;
    background-color: #141414;
    opacity: 0;
    transition: .6s ease;
}


.bud:hover .budoverlay {
    opacity: .9;
}

.bud:hover img {
    filter: blur(3px);
    
}

.orionoverlay {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: helvetica neue;
    background-color: #001B4C;
    opacity: 0;
    transition: .6s ease;
}

.orion:hover .orionoverlay {
    opacity: .9;
}
.orion:hover img {
    filter: blur(3px);
    
}


.hovtext {
    display: grid;
    justify-content: center; 
    color: white;
  
   
}

.hovtext ul {
   
    font-size: 20px;
    font-weight: 200;
    list-style-type: none;
    line-height: 200%;
    text-align: center;
    margin-bottom: 6%;
    opacity: .9;
}

.hovtext p {
    font-size: 20px;
    font-weight: bold;
    margin: 0% 5% 5%;
    text-align: center;
    letter-spacing: -.5px;
    line-height: 130%;
}




.hovbutton {
     text-align: center;
     margin: 0 25%;
     border-style: solid;
     border-radius: 8px;
     border-width: 1px;
     border-color: white;
     color: white;
     padding: 12px 1% 14px;
     font-weight: bold;
     font-size: 18px;
     transition: .3s ease;
     
}



.hovbutton:hover {
    background: white;
    color: #384B21;
}




.bud-button {
     background: #141414;
}

.bud-button:hover {
    background: white;
    color: #141414;
}

.orion-button {
    background: #001B4C;
}

.orion-button:hover {
    background: white;
    color: #001B4C;
}
    



.bud {
    grid-area: bud;
    background-color: #141414;
    
}

.bud img {
    height: 90px;
    margin: 30%;
}

.orion {
    grid-area: orion;
    background-color: #001b4c;
}

.orion img {
    height: 60px;
    margin: 25%;
}










.footnav {
     grid-area: footnav;
     justify-self: start;
}

.footnav li span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
}

.footnav li span:hover {
    padding-bottom: 3px;    
    border-bottom: 3px solid #523F6E;

}

.footnav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

.contact {
    grid-area: contact;
    justify-self: center;
    align-self: center;
    font-family: helvetica neue;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -.5px;
}

.contact p {
    text-align: center;
    margin-bottom: 10px;
}

.contact li {
    font-weight: normal;
    display: inline;
    margin: 0px 12px;
}

.contact a {
    transition: all .15s ease;
}

.contact a:hover {
   /* color: #3F2A5E; */
    
    color: #523F6E; 
   /*  text-shadow: 0px 1px 6px #5F4881; */
}

/*FFE794   FFF3C7     523F6E   3F2A5E  2C1352 */

.footlogo {
     grid-area: footlogo;
     justify-self: end;
     align-self: center;
}

.footlogo img {
    height: 50px;
}








@media (max-width: 1200px) {
    
     body {
        margin: 50px 50px 22px;
     }
    
    .container {
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        ". name name name name name name . . . . ."
        ". subname subname subname subname subname subname subname subname subname subname subname"
        ". position position position position position position position position position position ."
        "chi chi chi chi chi chi chi chi chi chi chi chi"
        "drag drag drag drag bud bud bud bud orion orion orion orion"
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
    
     }
    
    .dragoverlay, .budoverlay, .orionoverlay {
    
    }
    
    .hovtext ul, .hovtext p, .hovbutton {
        font-size: 18px;
    
    }
    
    .hovtext ul {
        margin: 4% 0 6%;   
    }
    
    .hovtext p {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    
    .hovbutton {
        margin: 0 20%;
        padding: 10px 0px 13px;
    }
    



/* ------------------ iPad and portrait phones ------------------------*/



@media (max-width: 825px) {
    
     body {
        margin: 50px 50px 22px;
     }
    
    .container {
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        ". name name name name name name . . . . ."
        ". subname subname subname subname subname subname subname subname subname subname subname"
        ". position position position position position position position position position position ."
        "chi chi chi chi chi chi chi chi chi chi chi chi"
        "drag drag drag drag bud bud bud bud orion orion orion orion"
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
    
     }
    
    .logo img {
        
         height: 50px
         
     }
    
    .name {
        margin-top: 40px;
        
    }
    .position {
        margin: 0px 10px 40px 0px;
        font-size: 20px
 
     }
    
     .proj {
        margin: 16px 0px 60px;
    } 
    
    
    
    .drag img {
       height: 45px;
       margin: 35%;
     }
    
     .bud img {
       height: 60px;
       
     }
    
    .orion img {
       height: 50px;
     }
    
    .dragoverlay, .budoverlay, .orionoverlay {
        height: 80%
    }
    
    .hovtext ul, .hovtext p, .hovbutton {
        font-size: 12px;
    
    }
    
    .hovtext ul {
        margin-bottom: 3%;   
    }
    
    .hovtext p {
        margin-top: -15%;
        margin-bottom: 2%;
    }
    
    .hovbutton {
        margin: 0 20%;
        padding: 8px 0px;
    }
    
     .footlogo img {
       height: 40px;
  }


}


/* ------------------ Landscape phones ------------------------*/


@media (max-width: 640px) {
    
    .container {
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        ". name name name name name name . . . . ."
        ". subname subname subname subname subname subname subname subname subname subname subname"
        ". position position position position position position position position position position ."
        "chi chi chi chi chi chi chi chi chi chi chi chi"
        "drag drag drag drag bud bud bud bud orion orion orion orion"
        "footnav footnav footnav contact contact contact contact contact contact contact . footlogo"
    
     }   
    
    .drag img {
       height: 45px;
     }
}


/* ------------------ Bigger phones ------------------------*/


@media (max-width: 414px) {
    
    body {
        margin: 35px 35px 75px;
     }
    
     .container {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo nav nav nav nav nav"
        "name name name name name name"
        "subname subname subname subname subname subname"
        "position position position position position position"
        "chi chi chi chi chi chi"
        "drag drag drag drag drag drag"
        "bud bud bud bud bud bud"
        "orion orion orion orion orion orion"
        "contact contact contact contact contact contact"
        ". . footlogo footlogo . ."
    
     }
    
    .name {
        margin-top: 60px;
    }
    
    .subname {
        margin: 10px 0px 15px;
    }
    
    .background {
        margin-bottom: 16px;
    }
    
    .proj {
    margin: 16px 0px 20px;
}
    
    .drag img {
       height: 70px;
       
     }
    
     .bud img {
       height: 80px;
       margin: 35%;
     }
    
    .orion img {
       height: 60px;
       margin: 40% 0%;
     }
    
    
    
    
    .dragoverlay, .budoverlay, .orionoverlay {
      height: 89%;
    }
    
    .drag:click .dragoverlay {
    opacity: .9;
   
    }

    .drag:click img {
    filter: blur(3px);
    
    }
    
    .bud:click .budoverlay {
    opacity: .9;
   
    }

    .bud:click img {
    filter: blur(3px);
    
    } 
    
    .orion:click .orionoverlay {
    opacity: .9;
   
    }

    .drag:click img {
    filter: blur(3px);
    
    }
    
    
    
    .dragoverlay:click .dragoverlay {
        opacity: 0;
    }
    
    .hovtext p, .hovtext ul {
        font-size: 16px;
    }
 
    .hovbutton {
        font-size: 14px;
        
    }
    
    .hovbutton:active {
    background: white;
    color: #384B21;
}
    
    .orion-button:active {
    background: white;
    color: #001B4C;
} 
    
    .bud-button:active {
    background: white;
    color: #141414;
}
    
    
    
    .hovtext p {
        margin-top: -10%;
    }
    
    .hovtext ul {
    margin: 5% 0% 7%;
}
    .hovbutton {
        margin: 0px 25%;
        padding: 10px 0% 11px;
    }
    
    
    .contact {
        margin-top: 30px;
    }
    .footnav {
        display: none;
    }
    
    .footlogo {
        margin-top: 70px;
        justify-self: center;
    }

    
}


/* ------------------ iPhone 5 / SE ------------------------*/


@media (max-width: 320px) {
    
    body {
        margin: 25px 25px 75px;
     }
    
    .proj {
       
        margin: 4px 0px 20px;
    } 
    
    
    .drag img {
       height: 70px;
       
     }
    
     
    .hovtext p {
        margin-top: -1%;
        margin-bottom: 0;
    }
    
    .hovtext ul {
        margin: 2% 0% 3%;
    }
    
    
    .contact li {
       margin: 0px 8px;
   }
    
}