html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 90px 100px 50px;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
} 

a {
    color: black;
    text-decoration: none;
}

.nav {
    grid-area: nav;
    justify-self: end;
    margin-top: -8px;
}

.logo img {
    height: 60px;
}


ul  {
    list-style-type: none;
    line-height: 170%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nav li span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
    
}


.nav li span:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

.nav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

/* FFE794 523F6E */









.container {
    display: grid;
    grid-gap: 0px 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        ". header header header header header header header header header header ."
        ". . . position position position position position position . . ."
        "l1 l1 l1 l2 l2 l2 l3 l3 l3 l4 l4 l4"
        ". . . . resume resume resume resume . . . ."
        "mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks"
        "headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot"
        ". . . samp samp samp samp samp samp . . ."
        ". . . veolist veolist veolist veolist veolist veolist . . ."
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
        
}

.header {
    
    grid-area: header;
    text-align: center;
    font-size: 48px;
    margin-top: 150px;
    letter-spacing: -1px;
}
.headshot {
    grid-area: headshot;

}

.headshot img {
    margin-top: 30px;
    width: 110%;
    margin-left: -5%;
}

.mocks {
    margin-top: 60px;
    grid-area: mocks;
    overflow: hidden;
    
}

.mocks img {
    width: 50%;
    margin-right: -27%;
}

.mocks img:nth-child(1){
    margin-left: -10%;
}



p {
    margin: 0;
    
}

.mocks p {
       font-weight: 200;
       line-height: 140%;
       font-size: 18px;
       text-align: center;
       letter-spacing: .4px;
       margin: 2% 28% 0;

}

.position {  
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    grid-area: position;
    margin: 91px 0px 0px;
}

.position span {
    padding-bottom: 0px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
}

.position span:hover {
    padding-bottom: 0px;
    border-bottom: 3px solid #00b8aa; 
}

.l1, .l2, .l3, .l4 {
    list-style-type: disc;
    margin: 25% -5% 15% 5%;
    font-weight: normal;
    font-size: 22px;
    color: #2c4e6d;
    line-height: 160%;
    letter-spacing: -.4px;
}

.l1 {
    grid-area: l1;
    
}

.l2 {
    grid-area: l2;
}

.l3 {
    grid-area: l3;
}

.l4 {
    grid-area: l4;   
}



.resume {
    grid-area: resume;
}

.resume, .samp {
    border: 2px solid #00b8aa;
    border-radius: 8px;
    background-color: #fff;
    color: #00b8aa;
    font-size: 18px;
    font-family: helvetica neue;    
    font-weight: bold;
    text-align: center;
    line-height: 160%;
    padding: 13px 15px 15px;
    margin: 30px 40px 0px;
    transition: .2s ease;
    
}

.resume:hover, .samp:hover {
/*  background: white;
  color: #00b8aa; */
    background-color: #00b8aa;
    color: #fff;
}

.samp {
    
    grid-area: samp;
    display: none;
}


.veolist {
    font-size: 22px;
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    grid-area: veolist;
    margin: 20px 0px 200px;
}

.veolist ul {
    list-style-type: disc; 
    font-weight: 200;
    line-height: 160%;
    letter-spacing: .4px;
    margin-left: 7%;
    grid-area: veolist;
    font-size: 20px;
}

.veolist span {
    font-weight: normal;
    letter-spacing: -0.5px;
    font-size: 28px;
}


.footnav {
     grid-area: footnav;
     justify-self: start;
}

.footnav li span {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border .2s cubic-bezier(1, 0.04, 1, 1);
}

.footnav li span:hover {
    padding-bottom: 3px;    
    border-bottom: 3px solid #523F6E;

}

.footnav li span:active {
    padding-bottom: 3px;
    border-bottom: 3px solid #523F6E;
    
}

.contact {
    grid-area: contact;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -.5px;
}

.contact p {
    text-align: center;
    margin-bottom: 10px;
}
.contact li {
    font-weight: normal;
    display: inline;
    margin: 0px 12px;
}

.contact a {
    transition: all .15s ease;
}

.contact a:hover {

    
    color: #523F6E; 
   /*  text-shadow: 0px 1px 6px #5F4881; */
}

/*FFE794   FFF3C7     523F6E   3F2A5E  2C1352 */

.footlogo {
     grid-area: footlogo;
     justify-self: end;
     align-self: center;
}

.footlogo img {
    
    height: 50px;
}













/* ------------------ iPad and landscape phones ------------------------*/



@media (max-width: 1024px) {
    
     body {
        margin: 50px 50px 30px;
     }
    
    .container {
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        ". header header header header header header header header header header ."
        ". . position position position position position position position position . ."
          "l1 l1 l1 l1 l1 l1 l2 l2 l2 l2 l2 l2" 
        "l3 l3 l3 l3 l3 l3 l4 l4 l4 l4 l4 l4"
        ". . resume resume resume resume resume resume resume resume . ."
        "mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks"
        "headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot"
        ". . . samp samp samp samp samp samp . . ."
        ". . veolist veolist veolist veolist veolist veolist veolist veolist . ."
        "footnav footnav footnav contact contact contact contact contact contact . . footlogo"
    
     }
    
     .l1, .l2, .l3, .l4 {
        margin: 10% 5% 0% 10%;
        font-size: 20px;
        
    }
    
    .mocks {
    margin-top: 60px;
        
    }
    
    .mocks p {
            margin: 5% 10%;
            font-size: 16px;
    }
    
  
    
    .logo img {
         height: 50px
         
     }
    
    .veolist {
        font-size: 18px;
    }
    
    .veolist ul {
        font-size: 16px;
    }
    
    .name {
         margin-top: 40px;
        
    }

    .position {
         margin: 60px 0px 0px;
         font-size: 20px;
 
     }
    
    .resume {
        margin: 50px 40px -30px;
    }

    
     .footlogo img {
        height: 40px;
     }

}


/* ------------------ Landscape smaller phones ------------------------*/


@media (max-width: 670px) {
    
    .container {
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo . . . . . . . . nav nav nav"
        ". . . header header header header header header . . ."
        
        ". position position position position position position position position position position ."
            "l1 l1 l1 l1 l1 l1 l2 l2 l2 l2 l2 l2" 
        "l3 l3 l3 l3 l3 l3 l4 l4 l4 l4 l4 l4"
        ". resume resume resume resume resume resume resume resume resume resume ."
        "mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks mocks"
        "headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot headshot"
         ". . . samp samp samp samp samp samp . . ."
        ". veolist veolist veolist veolist veolist veolist veolist veolist veolist veolist ."
        "footnav footnav footnav contact contact contact contact contact contact contact . footlogo"
    
     }
    
    
    
    .header {
        margin: 70px 0px 40px;
    }
    
    
    .position {
        margin-top: 0;
    }
    
    
    
    .veolist {
        margin-bottom: 80px;
    }
    
  /*  .mocks img:nth-child(1) {
    margin-left: -21%;
}

.mocks img {
    width: 60%;
    margin-right: -33%;
}    */
    
    
}


@media (max-width: 568px) {
    
    .contact li {
        margin: 0px 9px;
    }
}


/* ------------------ Bigger phones ------------------------*/


@media (max-width: 414px) {
    
    body {
        margin: 25px 25px 75px;
     }
    
     .container {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0px 20px;
        grid-template-areas: 
        "logo nav nav nav nav nav"
        "header header header header header header"
        "position position position position position position"
                "l1 l1 l1 l1 l1 l1"
        "l2 l2 l2 l2 l2 l2"
        "l3 l3 l3 l3 l3 l3"
        "l4 l4 l4 l4 l4 l4"
            "resume resume resume resume resume resume"
    
        "mocks mocks mocks mocks mocks mocks"
        "headshot headshot headshot headshot headshot headshot"
        "samp samp samp samp samp samp"
        "veolist veolist veolist veolist veolist veolist"
        "contact contact contact contact contact contact"
        ". . footlogo footlogo . ."
    
     }
    
    
    
    .headshot img {
        display: none;
        margin-top: 50px;
    }  
    
    .position {
         margin: 10px 0px 0px;
        
    }
    
   
    
    .resume {
        
        margin: 33px 5px -40px;
    }
    
    .samp {
        display: block;
        margin: 25px 5px 20px;
    }
    
    .mocks img {
        
        width: 220%;
        margin: -8% -60%;
    }
    
    .mocks img:nth-child(1) {
        margin-left: -60%;
    }
    
    .mocks p {
            margin: 2% 0 0;
    }
    
     .footnav {
        display: none;
    }
    
    .footlogo {
        margin-top: 60px;
        justify-self: center;
    }

}


/* ------------------ Galaxy S5 & iPhone 6, etc ------------------------*/





/* ------------------ iPhone 5 / SE ------------------------*/


@media (max-width: 320px) {
    
   
    
    .contact li {
       margin: 0px 8px;
   }
    
}